@model User
<h1>@Model.FirstName's @Model.Motto Profile</h1>
<hr>
<h2>DETAILS</h2>
<h3>Name:</h3>
<p>@Model.FirstName</p>
<h3>Email:</h3>
<p>@Model.Email</p>
<h3>Motto</h3>
<p>@Model.Motto</p>
<h3>Number of Posts:</h3>
<p>@Model.Posts.Count</p>
<h3>Favorite Topic</h3>